*~
*.prof
*.so
.*.swp
coverage.out
/astgen/stdast.go
/bazel-bin
/bazel-genfiles
/bazel-go-jsonnet
/bazel-out
/bazel-testlogs
/dumpstdlibast
/jsonnet
/linter/jsonnet-lint/jsonnet-lint
/tests_path.source
